<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.HogwartsTestUserMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.HogwartsTestUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="auto_create_case_job_name" jdbcType="VARCHAR" property="autoCreateCaseJobName" />
    <result column="start_test_job_name" jdbcType="VARCHAR" property="startTestJobName" />
    <result column="default_jenkins_id" jdbcType="INTEGER" property="defaultJenkinsId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
<!--  &lt;select id="selectHogwartsTestUser" parameterType="int" resultType="BaseResultMap"&gt;-->
<!--    SELECT * FROM hogwarts_test_user WHERE ID = #{id}-->
<!--  &lt;/select&gt;-->

    <select id="getByName" resultType="HogwartsTestUser">
      SELECT * FROM hogwarts_test_user
      <where>
        <if test="userId != null">
          id = #{userId}
        </if>
        <if test="userName != null and userName != ''">
          and user_name like concat('%',#{userName},'%')
        </if>
      </where>
    </select>
</mapper>